ul {
  list-style-type : none;
  margin : 0;
  padding : 0;
}
a{
  display : block;
  width : 320px;
  background-color : #FF4500;
  text-decoration : none;
  text-align : center;
  font-weight : bold;
  text-transform : uppercase;
  padding : 5px;
}
a:hover,a:active{
  background-color : #00CED1;
}
li.web{
  float : left;
}
h1.headlines{
  text-align : center;

}
li.Programming{
  text-align : center;

  margin-top: 25px;
}
ul.Programming {
  list-style-type : none;
  margin-left : 500px;

  padding : 5px;
}
a.white{
  display : block;
  width : 280px;
  background-color : snow;
  text-decoration : none;
  text-align : center;
  font-weight : bold;
  text-transform : uppercase;
  padding : 5px;
}
