ul {
  list-style-type : none;
  margin : 0;
  padding : 0;
}
a{
  display : block;
  width : 320px;
  text-decoration : none;
  text-align : center;
  font-weight : bold;
  text-transform : uppercase;
  padding : 5px;
}

li.web{
  float :left;
}
h1.headlines{
  text-align : center;

}
h2{
  text-align : center;
}
li.Semester{
  text-align : center;

  margin-top: 25px;
}
ul.Semester {
  list-style-type : none;
  margin-left : 500px;
  padding : 5px;
}
a.white{
  display : block;
  width : 280px;
  text-decoration : none;
  text-align : center;
  font-weight : bold;
  text-transform : uppercase;
  padding : 5px;
}

a:hover,a:active{
  color:white;
  text-decoration:none;

  font-size:18px;
  background:rgba(0,255,50,0.5);
  box-shadow:0 0 10px #66ff66, 0 0 40px #66ff66, 0 0 10px #66ff66;
  transition:1s;
}


.navbar
{
  height:60px;
  width:100%;
  background:rgba(0,0,0,0.5);
}


.navbar ul
{
  float:right;
  margin-right:120px;
}

.navbar ul li
{
  list-style:none;
  margin:0 -2px;
  display:inline-block;
  line-height:105px;
}

.navbar ul li a
{
  text-decoration:none;
  color:white;
  font-size:15px;
  padding:10px 40px;
  font-family:Century Gothic;
  transition:0.8s;
  overflow:hidden;
}

.navbar ul li a:hover
{
  color:white;
  text-decoration:none;

  font-size:18px;
  background:rgba(0,255,50,0.5);
  box-shadow:0 0 10px #66ff66, 0 0 40px #66ff66, 0 0 10px #66ff66;
  transition:1s;
}

body {
background-image: url("iit.jpg");
}
