ul {
  list-style-type : none;
  margin : 15px;
  padding : 15px;
}

li.web{
  float :left;
}
h1.headlines{
  text-align : center;

}
h2{
  text-align : center;
}
li.Semester{
  text-align : center;

  margin-top: 25px;
}
ul.Semester {
  list-style-type : none;
  margin-left : 500px;
  padding : 5px;
}
a.white{
display: block;
  width : 200px;
  background-color: slategray;
  text-align : center;
  /*
  text-transform : uppercase;
  */
  font-size:20px;
  padding:5px 50px;
  overflow:hidden;
  text-decoration:none;
  font-family:Century Gothic;


}
a{
  /*display : block;
  width : 320px;
  text-decoration : none;
  text-align : center;
  background-color: turquoise;
  font-weight : bold;
  text-transform : uppercase;
  padding : 5px;*/
  display : block;
  width : 280px;
  background-color: slategray;
  text-align : center;
  text-transform : uppercase;
  font-size:20px;
  padding:8px 50px;
  overflow:hidden;
  text-decoration:none;
  font-family:Century Gothic;

}

a:hover,a:active{
  color:white;
  text-decoration:none;

  /*font-size:25px;
  background:rgba(255,0,50,0.5);
  !* box-shadow:0 0 10px #66ff66, 0 0 40px #66ff66, 0 0 10px #66ff66;*!
  box-shadow:0 0 10px #d11717, 0 0 40px #d11717, 0 0 10px #d11717;
  transition:1s;
*/

  font-size:23px;
  background:rgba(0,50,280,0.5);
  box-shadow:0 0 10px #6666ff, 0 0 40px #6666ff, 0 0 10px #6666ff;
  transition:1s;

  padding:5px 50px;
  overflow:hidden;
}
/*


.navbar
{
  height:60px;
  width:100%;
  height: 100%;
  background:rgba(150,150,150,0.5);
}


.navbar ul
{
  float:right;
  margin-right:120px;
}

.navbar ul li
{
  list-style:none;
  margin:0 -2px;
  display:inline-block;
  line-height:105px;
}

.navbar ul li a
{
  text-decoration:none;
  color:white;
  font-size:15px;
  padding:10px 40px;
  font-family:Century Gothic;
  transition:0.8s;
  overflow:hidden;
}

.navbar ul li a:hover
{
  color:white;
  text-decoration:none;

  font-size:18px;
  background:rgba(0,50,280,0.5);
  box-shadow:0 0 10px #6666ff, 0 0 40px #6666ff, 0 0 10px #6666ff;
  transition:1s;

}
*/

body {

  background: url(silver.jpg) repeat-y;

  /*
  background:rgba(0,0,0,0.5);
  */


}
