ul {
  list-style-type : none;
  margin : 15px;
  padding : 15px;
}

h1.business{

  text-align: center;
}

li.web{
  float :left;
}
h1.headlines{
  text-align : center;

}
li.Semester{
  text-align : center;

  margin-top: 25px;
}
ul.Semester {
  list-style-type : none;
  margin-left : 500px;
  padding : 5px;
}

a{
  display : block;
  width : 280px;
  background-color: deepskyblue;
  text-align : center;

  font-size:20px;
  padding:8px 50px;
  overflow:hidden;
  text-decoration:none;
  font-family:Century Gothic;

}

a.white{
  width : 200px;
  font-size:20px;
  padding:5px 50px;
  color: #000000;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover,a:active{
  color:white;
  text-decoration:none;

  font-size:23px;
  background:rgba(255,14,93,0.85);
  box-shadow:0 0 10px #ff1493, 0 0 40px #ff1493, 0 0 10px #ff1493;
  transition:1s;

  padding:5px 50px;
  overflow:hidden;
}


body {

  background: url(silver.jpg) repeat-y;

}
link{
  rel:"icon" ;
  href :
  "Images/t.png";

  type : "image/x-icon"
}

